CREATE DATABASE PruebaTecnicaJCMC
GO

USE [PruebaTecnicaJCMC]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[CiudadId] [int] IDENTITY(1,1) NOT NULL,
	[CiudadNombre] [varchar](50) NULL,
	[DepartamentoId] [int] NOT NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[CiudadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClnId] [int] IDENTITY(1,1) NOT NULL,
	[ClnTpoIdnId] [smallint] NULL,
	[ClnNumeroIdentidicacion] [varchar](50) NULL,
	[ClnRazonSocial] [varchar](150) NULL,
	[ClnPaisCodigo] [int] NULL,
	[ClnDptColCodigoDane] [int] NULL,
	[ClnDvsPltColCodigoDane] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[DepartamentoNombre] [varchar](50) NULL,
	[PaisId] [int] NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[PaisNombre] [varchar](50) NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([CiudadId], [CiudadNombre], [DepartamentoId]) VALUES (1, N'Bogota', 1)
INSERT [dbo].[Ciudad] ([CiudadId], [CiudadNombre], [DepartamentoId]) VALUES (2, N'Soacha', 1)
INSERT [dbo].[Ciudad] ([CiudadId], [CiudadNombre], [DepartamentoId]) VALUES (3, N'Leticia', 2)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClnId], [ClnTpoIdnId], [ClnNumeroIdentidicacion], [ClnRazonSocial], [ClnPaisCodigo], [ClnDptColCodigoDane], [ClnDvsPltColCodigoDane]) VALUES (4, 2, N'11111', N'Company', 2, 6, 11)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([DepartamentoId], [DepartamentoNombre], [PaisId]) VALUES (1, N'Cundinamarca', 1)
INSERT [dbo].[Departamento] ([DepartamentoId], [DepartamentoNombre], [PaisId]) VALUES (2, N'Amazonas', 1)
INSERT [dbo].[Departamento] ([DepartamentoId], [DepartamentoNombre], [PaisId]) VALUES (3, N'Boyaca', 1)
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([PaisId], [PaisNombre]) VALUES (1, N'Colombia')
INSERT [dbo].[Pais] ([PaisId], [PaisNombre]) VALUES (2, N'Argentina')
INSERT [dbo].[Pais] ([PaisId], [PaisNombre]) VALUES (3, N'Brazil')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Ciudad_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([DepartamentoId])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK_Ciudad_Departamento]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamento_Pais]
GO
/****** Object:  StoredProcedure [dbo].[Ciudad_g_ByDepartamentoId]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	Consulta ciudad por departamento
-- =============================================
CREATE   PROCEDURE [dbo].[Ciudad_g_ByDepartamentoId]
	-- Add the parameters for the stored procedure here
	@DepartamentoId int
AS
BEGIN

	DECLARE
	@sDepartamentoId int = @DepartamentoId

   SELECT TOP (1000) [CiudadId]
      ,[CiudadNombre]
      ,[DepartamentoId]
  FROM [PruebaTecnicaJCMC].[dbo].[Ciudad]
  WHERE DepartamentoId = @sDepartamentoId

END
GO
/****** Object:  StoredProcedure [dbo].[Cliente_g]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	Consulta clientes
-- =============================================
CREATE   PROCEDURE [dbo].[Cliente_g]
	
AS
BEGIN
	
    -- Insert statements for procedure here
	SELECT [ClnId]
      ,[ClnTpoIdnId]
      ,[ClnNumeroIdentidicacion]
      ,[ClnRazonSocial]
      ,[ClnPaisCodigo]
	  ,p.PaisNombre
      ,[ClnDptColCodigoDane]
	  ,d.DepartamentoNombre
      ,[ClnDvsPltColCodigoDane]
	  ,cc.CiudadNombre
  FROM [dbo].[Cliente] c
  Inner join [dbo].[Pais] p
  ON c.[ClnPaisCodigo] = p.paisId
  Inner join [dbo].[Departamento] d
  ON c.[ClnDptColCodigoDane] = d.DepartamentoId
  Inner join [dbo].[ciudad] cc
  ON c.[ClnDvsPltColCodigoDane] = cc.CiudadId
  
END
GO
/****** Object:  StoredProcedure [dbo].[Cliente_g_ById]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	Consulta cleinte por id
-- =============================================
CREATE   PROCEDURE [dbo].[Cliente_g_ById]
	-- Add the parameters for the stored procedure here
	@ClnId int
AS
BEGIN
	DECLARE
    @sClnId int = @ClnId

    -- Insert statements for procedure here
	SELECT [ClnId]
      ,[ClnTpoIdnId]
      ,[ClnNumeroIdentidicacion]
      ,[ClnRazonSocial]
      ,[ClnPaisCodigo]
      ,[ClnDptColCodigoDane]
      ,[ClnDvsPltColCodigoDane]
  FROM [dbo].[Cliente]
  WHERE ClnId = @sClnId
END
GO
/****** Object:  StoredProcedure [dbo].[Cliente_g_ByIdentificacion]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [PruebaTecnicaJCMC]

---- =============================================
---- Author:		JonathanMerchan
---- Create date: 140226
---- Description:	Consulta cleinte por id
---- =============================================
CREATE     PROCEDURE [dbo].[Cliente_g_ByIdentificacion]

	-- Add the parameters for the stored procedure here
	@ClnNumeroIdentidicacion varchar(50)
AS
BEGIN
	DECLARE
    @sClnNumeroIdentidicacion varchar(50) = @ClnNumeroIdentidicacion

    -- Insert statements for procedure here
	SELECT [ClnId]
      ,[ClnTpoIdnId]
      ,[ClnNumeroIdentidicacion]
      ,[ClnRazonSocial]
      ,[ClnPaisCodigo]
	  ,p.PaisNombre
      ,[ClnDptColCodigoDane]
	  ,d.DepartamentoNombre
      ,[ClnDvsPltColCodigoDane]
	  ,cc.CiudadNombre
  FROM [dbo].[Cliente] c
  Inner join [dbo].[Pais] p
  ON c.[ClnPaisCodigo] = p.paisId
  Inner join [dbo].[Departamento] d
  ON c.[ClnDptColCodigoDane] = d.DepartamentoId
  Inner join [dbo].[ciudad] cc
  ON c.[ClnDvsPltColCodigoDane] = cc.CiudadId
  WHERE c.[ClnNumeroIdentidicacion] = @sClnNumeroIdentidicacion
END
GO
/****** Object:  StoredProcedure [dbo].[Cliente_i]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	inserta cliente
-- =============================================
CREATE   PROCEDURE [dbo].[Cliente_i]
	-- Add the parameters for the stored procedure here
	@ClnId int out
    ,@ClnTpoIdnId int
    ,@ClnNumeroIdentidicacion varchar(50)
    ,@ClnRazonSocial varchar(150)
    ,@ClnPaisCodigo int
    ,@ClnDptColCodigoDane int
    ,@ClnDvsPltColCodigoDane int

AS
BEGIN
	DECLARE
    @sClnTpoIdnId int = @ClnTpoIdnId
    ,@sClnNumeroIdentidicacion varchar(50) = @ClnNumeroIdentidicacion
    ,@sClnRazonSocial varchar(150) = @ClnRazonSocial
    ,@sClnPaisCodigo int = @ClnPaisCodigo
    ,@sClnDptColCodigoDane int = @ClnDptColCodigoDane
    ,@sClnDvsPltColCodigoDane int = @ClnDvsPltColCodigoDane

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Cliente]
           ([ClnTpoIdnId]
           ,[ClnNumeroIdentidicacion]
           ,[ClnRazonSocial]
           ,[ClnPaisCodigo]
           ,[ClnDptColCodigoDane]
           ,[ClnDvsPltColCodigoDane])
     VALUES
           (@sClnTpoIdnId
           ,@sClnNumeroIdentidicacion
           ,@sClnRazonSocial
           ,@sClnPaisCodigo
           ,@sClnDptColCodigoDane
           ,@sClnDvsPltColCodigoDane)

    Set @ClnId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[Cliente_u]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	inserta cliente
-- =============================================
CREATE   PROCEDURE [dbo].[Cliente_u]
	-- Add the parameters for the stored procedure here
	@ClnId int
    ,@ClnTpoIdnId int
    ,@ClnNumeroIdentidicacion varchar(50)
    ,@ClnRazonSocial varchar(150)
    ,@ClnPaisCodigo int
    ,@ClnDptColCodigoDane int
    ,@ClnDvsPltColCodigoDane int

AS
BEGIN
	DECLARE
    @sClnId int = @ClnId
    ,@sClnTpoIdnId int = @ClnTpoIdnId
    ,@sClnNumeroIdentidicacion varchar(50) = @ClnNumeroIdentidicacion
    ,@sClnRazonSocial varchar(150) = @ClnRazonSocial
    ,@sClnPaisCodigo int = @ClnPaisCodigo
    ,@sClnDptColCodigoDane int = @ClnDptColCodigoDane
    ,@sClnDvsPltColCodigoDane int = @ClnDvsPltColCodigoDane

    -- Insert statements for procedure here
	UPDATE [dbo].[Cliente]
   SET [ClnTpoIdnId] = @sClnTpoIdnId
      ,[ClnNumeroIdentidicacion] = @sClnNumeroIdentidicacion
      ,[ClnRazonSocial] = @sClnRazonSocial
      ,[ClnPaisCodigo] = @sClnPaisCodigo
      ,[ClnDptColCodigoDane] = @sClnDptColCodigoDane
      ,[ClnDvsPltColCodigoDane] = @sClnDvsPltColCodigoDane
 WHERE ClnId =  @sClnId

END
GO
/****** Object:  StoredProcedure [dbo].[Departamento_g_BypaisId]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	Consulta Departamentos por ciudad
-- =============================================
CREATE   PROCEDURE [dbo].[Departamento_g_BypaisId]
	-- Add the parameters for the stored procedure here
	@PaisId int
AS
BEGIN
	DECLARE
	@sPaisId int = @PaisId


    SELECT [DepartamentoId]
      ,[DepartamentoNombre]
      ,[PaisId]
  FROM [dbo].[Departamento]
  WHERE PaisId = @sPaisId
END

GO
/****** Object:  StoredProcedure [dbo].[Pais_g]    Script Date: 2/16/2026 6:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		JonathanMerchan
-- Create date: 140226
-- Description:	Consulta Ciudades
-- =============================================
CREATE   PROCEDURE  [dbo].[Pais_g] 
	AS
BEGIN
	SELECT [PaisId]
      ,[PaisNombre]
  FROM [dbo].[Pais]
END
GO
